<div class="container">
<nav class="navbar navbar-expand-md fixed-top" style="background-color: #e3f2fd;">
 
   <div class="ekart-logo">
      <span>Shopz</span>
      <i class="fa fa-shopping-cart"></i>
   </div>
   
     <button
       class="navbar-toggler"
       type="button"
       data-bs-toggle="offcanvas"
       data-bs-target="#offcanvasNavbar"
       aria-controls="offcanvasNavbar"
       aria-label="Toggle navigation"
     >
       <span class="navbar-toggler-icon"></span>
     </button>
     <div
     #offcanvasNavbar
       class="offcanvas offcanvas-end"
       tabindex="-1"
       id="offcanvasNavbar"
       aria-labelledby="offcanvasNavbarLabel"
       
     >
       <div  id="offcanvasNavbarLabel" class="offcanvas-header">
         <div class="ekart-logo">
            <span>Shopz</span>
            <i class="fa fa-shopping-cart"></i>
         </div>
         <!-- <h5 class="offcanvas-title">Shopz</h5> -->
         <button
           type="button"
           class="btn-close"
           data-bs-dismiss="offcanvas"
           aria-label="Close"
         ></button>
       </div>
       <div class="offcanvas-body">
         <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           <!-- <li class="nav-item">
             <a class="nav-link " aria-current="page" href="#">Home</a>
           </li> -->
           <li class="nav-item">
            <a class="nav-link "(click)="onPageChange('helmet')"  [class.active]="page === 'helmet'">Helmets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onPageChange('shoe')" [class.active]="page === 'shoe'">Shoes</a>
          </li>
           <!-- <li class="nav-item">
             <a class="nav-link" href="#">SignIn</a>
           </li> -->
           <!-- <li class="nav-item dropdown">
             <a
               class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
             >
               Dropdown
             </a>
             <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Action</a></li>
               <li><a class="dropdown-item" href="#">Another action</a></li>
               <li>
                 <hr class="dropdown-divider" />
               </li>
               <li>
                 <a class="dropdown-item" href="#">Something else here</a>
               </li>
             </ul>
           </li> -->
         </ul>
         <!-- <form class="d-flex mt-3" role="search">
           <input
             class="form-control me-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
           />
           <button class="btn btn-outline-success" type="submit">
             Search
           </button>
         </form> -->
       </div>
     </div>
 </nav>

<div *ngIf="page == 'shoe' || page == 'helmet'">
<!--
   <div class="ekart--header" >
      <div class="ekart-logo">
         <span>Shopz</span>
        
         <i class="fa fa-shopping-cart left-mg"></i>
      </div>
   
      <div class="ekart--header--nav">
         
          <div class="ekart--bottom--bar">
          
          <div class="bg">
               <div class="radio-btn">
                  <label>
                     <input type="radio" name="page" [(ngModel)]="page" value="helmet" (change)="onPageChange('helmet')"/> Show Helmets
                  </label>
                  <label>
                  <input type="radio" name="page" [(ngModel)]="page" value="shoe" (change)="onPageChange('helmet')" /> Show Shoes
                  </label>
            
               </div>
               <div class="ekart--search--product">
                  <input *ngIf="page == 'shoe'" class="ekart--search--product--input" [(ngModel)]="searchText" placeholder="Search Shoes" (ngModelChange)="onSearchTextChange()" >
                  <input *ngIf="page == 'helmet'" class="ekart--search--product--input" [(ngModel)]="searchText" placeholder="Search Helmets" (ngModelChange)="onSearchTextChange()" >
               </div>
               </div>
        
          </div>
      </div>
   
   </div>
-->
   <div *ngIf="page == 'shoe'">
   <div class="container" style="margin-top: 100px;">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mt-4 " *ngFor="let product of filteredProductShoe" >
          <div class="card" style="width: 100%; height:100%;">
            <img [src] ="product.imgURL" class= "ekart--product--image" style="width: 100%; height: 100%;">
            <span class="ekart-on-sale-tag" *ngIf="product.discountPrice">{{(100- (product.discountPrice / product.price * 100)).toFixed(0)}}% OFF</span>

            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.gender}} . {{product.category}} . {{product.brand}} </p>
       <h3 class="green"> Best seller</h3>
          <button [disabled]="!product.is_in_inventory" (click)="redirectToWhatsApp(product.name, product.imgURL)" class="buy-button btn">  <i class="fa fa-shopping-cart"></i> Buy</button>

            </div>

          </div>
        </div>
      </div>
    </div>
   <div *ngIf="!filteredProductShoe.length" class="no-data">
      Oops! No products found. Try searching for something else
   </div>
   </div>
   
      <div *ngIf="page == 'helmet'">

         <div class="container" style="margin-top: 100px;">
            <div class="row">
              <!-- Card 1 -->
              <div class="col-md-4 mt-4 " *ngFor="let product of filteredProductHelmet" >
                <div class="card" style="width: 100; height:100%;">
                  <img [src] ="product.imgURL" class= "ekart--product--image" style="width: 100%; height: 100%;">
                  <span class="ekart-on-sale-tag" *ngIf="product.discountPrice">{{(100- (product.discountPrice / product.price * 100)).toFixed(0)}}% OFF</span>

                  <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.gender}} . {{product.category}} . {{product.brand}} </p>
             <h3 class="green"> Best seller</h3>
                <button [disabled]="!product.is_in_inventory" (click)="redirectToWhatsApp(product.name, product.imgURL)" class="buy-button btn">  <i class="fa fa-shopping-cart"></i> Buy</button>

                  </div>

                </div>
              </div>
            </div>
          </div>
         <div *ngIf="!filteredProductHelmet.length" class="no-data">
            Oops! No products found. Try searching for something else
         </div>
        
        
</div>
         </div>
         <div [ngClass]="{'footer': true, 'footer-em': isNoDataFound}">
            <p>&copy; 2025 Riyaash. All rights reserved.</p>
          </div>
      </div>
    